.-theme-with-dark-background .console-view {
  --message-border-color: rgb(58, 58, 58) !important;
  --warning-border-color: rgb(102, 85, 0) !important;
  --error-border-color: #e06c75 !important;
  --error-text-color: var(--code-red) !important;
}
