.platform-windows,
:host-context(.platform-windows) {
  --monospace-font-size: 14px !important;
  --monospace-font-family: 'Fira Code', consolas, lucida console, courier new,
    monospace !important;
  --source-code-font-size: 14px !important;
  --source-code-font-family: 'Fira Code', consolas, lucida console, courier new,
    monospace !important;
}
.console-message .source-code {
  line-height: 19px !important;
}
