.spritesheet-largeicons.icon-mask.largeicon-navigator-folder {
  --spritesheet-position: 0 0 !important;
  -webkit-mask-image: url('https://raw.githubusercontent.com/MajesticString/material-icon-folder-replacement/main/folder.svg') !important;
  mask-image: url('https://raw.githubusercontent.com/MajesticString/material-icon-folder-replacement/main/folder.svg');
  width: 20px !important;
  height: 18px !important;
  background-image: none !important;
  margin-left: 1px !important;
}
li.navigator-folder-tree-item.expanded
  .spritesheet-largeicons.icon-mask.largeicon-navigator-folder,
li.navigator-sm-folder-tree-item.expanded
  .spritesheet-largeicons.icon-mask.largeicon-navigator-folder {
  --spritesheet-position: 0 0 !important;
  -webkit-mask-image: url('https://raw.githubusercontent.com/MajesticString/material-icon-folder-replacement/main/folder-open.svg') !important;
  mask-image: url('https://raw.githubusercontent.com/MajesticString/material-icon-folder-replacement/main/folder-open.svg');
  width: 20px !important;
  height: 18px !important;
  background-image: none !important;
  margin-left: 1px !important;
  margin-right: 2px !important;
}
.navigator-sm-folder-tree-item .icon,
.navigator-fs-tree-item .icon,
.navigator-fs-folder-tree-item .icon {
  /* orange folder */
  background-image: none !important;
  background-color: #8ebf55 !important;
}
.navigator-nw-folder-tree-item .icon {
  /* blue folder */
  background-color: rgb(192, 149, 83) !important;
  background-image: none !important;
}

.navigator-image-tree-item.navigator-file-tree-item
  [is='ui-icon'].spritesheet-largeicons.icon-mask {
  --spritesheet-position: 0 0 !important;
  -webkit-mask-image: none !important;
  -webkit-mask-position: 0 0 !important;
  mask-image: none !important;
  mask-position: 0 0 !important;
  background-image: url('https://raw.githubusercontent.com/PKief/vscode-material-icon-theme/main/icons/image.svg') !important;
  background-color: #0000 !important;
  width: 20px !important;
  height: 18px !important;
  background-repeat: no-repeat;
}
div
  li.navigator-sm-script-tree-item.navigator-file-tree-item
  div.leading-icons.icons-container
  span[is='ui-icon'] {
  --spritesheet-position: 0 0 !important;
  -webkit-mask-image: none !important;
  -webkit-mask-position: 0 0 !important;
  mask-image: none !important;
  mask-position: 0 0 !important;
  background-image: url('https://raw.githubusercontent.com/PKief/vscode-material-icon-theme/main/icons/javascript.svg') !important;
  background-color: #0000 !important;
  width: 20px !important;
  height: 18px !important;
  background-repeat: no-repeat;
}
.navigator-script-tree-item.navigator-file-tree-item
  [is='ui-icon'].spritesheet-largeicons.icon-mask {
  --spritesheet-position: 0 0 !important;
  -webkit-mask-image: none !important;
  -webkit-mask-position: 0 0 !important;
  mask-image: none !important;
  mask-position: 0 0 !important;
  background-image: url('https://raw.githubusercontent.com/PKief/vscode-material-icon-theme/main/icons/javascript.svg') !important;
  background-color: #0000 !important;
  width: 20px !important;
  height: 18px !important;
  background-repeat: no-repeat;
}
div
  li.navigator-sm-script-tree-item.navigator-file-tree-item[aria-label*='.ts']
  div.leading-icons.icons-container
  span[is='ui-icon'] {
  --spritesheet-position: 0 0 !important;
  -webkit-mask-image: none !important;
  -webkit-mask-position: 0 0 !important;
  mask-image: none !important;
  mask-position: 0 0 !important;
  background-image: url('https://raw.githubusercontent.com/PKief/vscode-material-icon-theme/main/icons/typescript.svg') !important;
  background-color: #0000 !important;
  width: 20px !important;
  height: 18px !important;
  background-repeat: no-repeat;
}
div
  li.navigator-sm-script-tree-item.navigator-file-tree-item[aria-label*='.component.html']
  div.leading-icons.icons-container
  span[is='ui-icon'] {
  --spritesheet-position: 0 0 !important;
  -webkit-mask-image: none !important;
  -webkit-mask-position: 0 0 !important;
  mask-image: none !important;
  mask-position: 0 0 !important;
  background-image: url('https://raw.githubusercontent.com/PKief/vscode-material-icon-theme/main/icons/html.svg') !important;
  background-color: #0000 !important;
  width: 20px !important;
  height: 18px !important;
  background-repeat: no-repeat;
}

li.navigator-sm-script-tree-item.navigator-file-tree-item[aria-label*='.html']
  div.leading-icons.icons-container
  span[is='ui-icon'] {
  --spritesheet-position: 0 0 !important;
  -webkit-mask-image: none !important;
  -webkit-mask-position: 0 0 !important;
  mask-image: none !important;
  mask-position: 0 0 !important;
  background-image: url('https://raw.githubusercontent.com/PKief/vscode-material-icon-theme/main/icons/html.svg') !important;
  background-color: #0000 !important;
  width: 20px !important;
  height: 18px !important;
  background-repeat: no-repeat;
}
div
  li.navigator-sm-script-tree-item.navigator-file-tree-item[aria-label*='.component.ts']
  div.leading-icons.icons-container
  span[is='ui-icon'] {
  --spritesheet-position: 0 0 !important;
  -webkit-mask-image: none !important;
  -webkit-mask-position: 0 0 !important;
  mask-image: none !important;
  mask-position: 0 0 !important;
  background-image: url('https://raw.githubusercontent.com/PKief/vscode-material-icon-theme/main/icons/angular-component.svg') !important;
  background-color: #0000 !important;
  width: 20px !important;
  height: 18px !important;
  background-repeat: no-repeat;
}
div
  li.navigator-sm-stylesheet-tree-item.navigator-file-tree-item[aria-label*='.less']
  div.leading-icons.icons-container
  span[is='ui-icon'] {
  --spritesheet-position: 0 0 !important;
  -webkit-mask-image: none !important;
  -webkit-mask-position: 0 0 !important;
  mask-image: none !important;
  mask-position: 0 0 !important;
  background-image: url('https://raw.githubusercontent.com/PKief/vscode-material-icon-theme/main/icons/less.svg') !important;
  background-color: #0000 !important;
  width: 20px !important;
  height: 18px !important;
  background-repeat: no-repeat;
}
div
  li.navigator-sm-stylesheet-tree-item.navigator-file-tree-item[aria-label*='.sass']
  div.leading-icons.icons-container
  span[is='ui-icon'] {
  --spritesheet-position: 0 0 !important;
  -webkit-mask-image: none !important;
  -webkit-mask-position: 0 0 !important;
  mask-image: none !important;
  mask-position: 0 0 !important;
  background-image: url('https://raw.githubusercontent.com/PKief/vscode-material-icon-theme/main/icons/sass.svg') !important;
  background-color: #0000 !important;
  width: 20px !important;
  height: 18px !important;
  background-repeat: no-repeat;
}
div
  li.navigator-sm-stylesheet-tree-item.navigator-file-tree-item[aria-label*='.scss']
  div.leading-icons.icons-container
  span[is='ui-icon'] {
  --spritesheet-position: 0 0 !important;
  -webkit-mask-image: none !important;
  -webkit-mask-position: 0 0 !important;
  mask-image: none !important;
  mask-position: 0 0 !important;
  background-image: url('https://raw.githubusercontent.com/PKief/vscode-material-icon-theme/main/icons/sass.svg') !important;
  background-color: #0000 !important;
  width: 20px !important;
  height: 18px !important;
  background-repeat: no-repeat;
}
div
  li.navigator-sm-script-tree-item.navigator-file-tree-item[aria-label*='.component.scss']
  div.leading-icons.icons-container
  span[is='ui-icon'] {
  --spritesheet-position: 0 0 !important;
  -webkit-mask-image: none !important;
  -webkit-mask-position: 0 0 !important;
  mask-image: none !important;
  mask-position: 0 0 !important;
  background-image: url('https://raw.githubusercontent.com/PKief/vscode-material-icon-theme/main/icons/sass.svg') !important;
  background-color: #0000 !important;
  width: 20px !important;
  height: 18px !important;
  background-repeat: no-repeat;
}
div
  li.navigator-sm-script-tree-item.navigator-file-tree-item[aria-label*='.module.ts']
  div.leading-icons.icons-container
  span[is='ui-icon'] {
  --spritesheet-position: 0 0 !important;
  -webkit-mask-image: none !important;
  -webkit-mask-position: 0 0 !important;
  mask-image: none !important;
  mask-position: 0 0 !important;
  background-image: url('https://raw.githubusercontent.com/PKief/vscode-material-icon-theme/main/icons/angular-module.svg') !important;
  background-color: #0000 !important;
  width: 20px !important;
  height: 18px !important;
  background-repeat: no-repeat;
}
div
  li.navigator-sm-script-tree-item.navigator-file-tree-item[aria-label*='routing.module.ts']
  div.leading-icons.icons-container
  span[is='ui-icon'] {
  --spritesheet-position: 0 0 !important;
  -webkit-mask-image: none !important;
  -webkit-mask-position: 0 0 !important;
  mask-image: none !important;
  mask-position: 0 0 !important;
  background-image: url('https://raw.githubusercontent.com/PKief/vscode-material-icon-theme/main/icons/angular.svg') !important;
  background-color: #0000 !important;
  width: 20px !important;
  height: 18px !important;
  background-repeat: no-repeat;
}
div
  li.navigator-sm-script-tree-item.navigator-file-tree-item[aria-label*='.js']
  div.leading-icons.icons-container
  span[is='ui-icon'],
div
  li.navigator-sm-script-tree-item.navigator-file-tree-item[aria-label*='.mjs']
  div.leading-icons.icons-container
  span[is='ui-icon'] {
  --spritesheet-position: 0 0 !important;
  -webkit-mask-image: none !important;
  -webkit-mask-position: 0 0 !important;
  mask-image: none !important;
  mask-position: 0 0 !important;
  background-image: url('https://raw.githubusercontent.com/PKief/vscode-material-icon-theme/main/icons/javascript.svg') !important;
  background-color: #0000 !important;
  width: 20px !important;
  height: 18px !important;
  background-repeat: no-repeat;
}
span.spritesheet-largeicons.icon-mask[style~='--spritesheet-position:-112px 96px'] {
  -webkit-mask-image: url('https://raw.githubusercontent.com/PKief/vscode-material-icon-theme/main/icons/css.svg') !important;
  -webkit-mask-position: 0 0 !important;
  mask-image: url('https://raw.githubusercontent.com/PKief/vscode-material-icon-theme/main/icons/css.svg') !important;
  mask-position: 0 0 !important;
  width: 20px !important;
  height: 18px !important;
  background-image: none !important;
}
.navigator-font-tree-item.navigator-file-tree-item [is='ui-icon'] {
  -webkit-mask-image: none !important;
  -webkit-mask-position: 0 0 !important;
  mask-image: none !important;
  mask-position: 0 0 !important;
  background-image: url('https://raw.githubusercontent.com/PKief/vscode-material-icon-theme/main/icons/font.svg') !important;
  background-color: #0000 !important;
  width: 20px !important;
  height: 18px !important;
  background-repeat: no-repeat !important;
}
.navigator-sm-stylesheet-tree-item [is='ui-icon'].icon-mask {
  background-color: rgba(0, 0, 0, 0) !important;
}
.navigator-document-tree-item.navigator-file-tree-item
  [is='ui-icon'].icon-mask[style='--spritesheet-position:-112px 96px; width: 28px; height: 24px;'] {
  -webkit-mask-image: none !important;
  -webkit-mask-position: 0 0 !important;
  mask-image: none !important;
  mask-position: 0 0 !important;
  width: 20px !important;
  height: 18px !important;
  background-image: url('https://raw.githubusercontent.com/PKief/vscode-material-icon-theme/main/icons/html.svg') !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

.navigator-sm-stylesheet-tree-item .icon,
.navigator-stylesheet-tree-item .icon {
  -webkit-mask-image: none !important;
  -webkit-mask-position: 0 0 !important;
  mask-image: none !important;
  mask-position: 0 0 !important;
  width: 20px !important;
  height: 18px !important;
  background-image: url('https://raw.githubusercontent.com/PKief/vscode-material-icon-theme/main/icons/css.svg') !important;
  background-color: rgba(0, 0, 0, 0);
}
.navigator-stylesheet-tree-item [is='ui-icon'].icon-mask {
  background-color: rgba(0, 0, 0, 0) !important;
}
.navigator-stylesheet-tree-item.force-white-icons .icon {
  background-image: url('https://raw.githubusercontent.com/PKief/vscode-material-icon-theme/main/icons/css.svg') !important;
}
div
  li.navigator-sm-folder-tree-item.navigator-folder-tree-item[aria-label*='node_modules']
  div.leading-icons.icons-container
  .spritesheet-largeicons.icon-mask.largeicon-navigator-folder,
li.navigator-folder-tree-item.navigator-folder-tree-item[aria-label*='node_modules']
  div.leading-icons.icons-container
  .spritesheet-largeicons.icon-mask.largeicon-navigator-folder {
  --spritesheet-position: 0 0 !important;
  -webkit-mask-image: none !important;
  -webkit-mask-position: 0 0 !important;
  mask-image: none !important;
  mask-position: 0 0 !important;
  background-image: url('https://raw.githubusercontent.com/PKief/vscode-material-icon-theme/main/icons/folder-node.svg') !important;
  background-color: #0000 !important;
  width: 20px !important;
  height: 18px !important;
  background-repeat: no-repeat;
}
div
  li.navigator-sm-folder-tree-item.navigator-folder-tree-item.expanded[aria-label*='node_modules']
  div.leading-icons.icons-container
  .spritesheet-largeicons.icon-mask.largeicon-navigator-folder,
li.navigator-folder-tree-item.navigator-folder-tree-item.expanded[aria-label*='node_modules']
  div.leading-icons.icons-container
  .spritesheet-largeicons.icon-mask.largeicon-navigator-folder {
  --spritesheet-position: 0 0 !important;
  -webkit-mask-image: none !important;
  -webkit-mask-position: 0 0 !important;
  mask-image: none !important;
  mask-position: 0 0 !important;
  background-image: url('https://raw.githubusercontent.com/PKief/vscode-material-icon-theme/main/icons/folder-node-open.svg') !important;
  background-color: #0000 !important;
  width: 20px !important;
  height: 18px !important;
  background-repeat: no-repeat;
}
div
  li.navigator-sm-folder-tree-item.navigator-folder-tree-item[aria-label*='src']
  div.leading-icons.icons-container
  .spritesheet-largeicons.icon-mask.largeicon-navigator-folder,
li.navigator-folder-tree-item.navigator-folder-tree-item[aria-label*='src']
  div.leading-icons.icons-container
  .spritesheet-largeicons.icon-mask.largeicon-navigator-folder {
  --spritesheet-position: 0 0 !important;
  -webkit-mask-image: none !important;
  -webkit-mask-position: 0 0 !important;
  mask-image: none !important;
  mask-position: 0 0 !important;
  background-image: url('https://raw.githubusercontent.com/PKief/vscode-material-icon-theme/main/icons/folder-src.svg') !important;
  background-color: #0000 !important;
  width: 20px !important;
  height: 18px !important;
  background-repeat: no-repeat;
}
div
  li.navigator-sm-folder-tree-item.navigator-folder-tree-item.expanded[aria-label*='src']
  div.leading-icons.icons-container
  .spritesheet-largeicons.icon-mask.largeicon-navigator-folder,
li.navigator-folder-tree-item.navigator-folder-tree-item.expanded[aria-label*='src']
  div.leading-icons.icons-container
  .spritesheet-largeicons.icon-mask.largeicon-navigator-folder {
  --spritesheet-position: 0 0 !important;
  -webkit-mask-image: none !important;
  -webkit-mask-position: 0 0 !important;
  mask-image: none !important;
  mask-position: 0 0 !important;
  background-image: url('https://raw.githubusercontent.com/PKief/vscode-material-icon-theme/main/icons/folder-src-open.svg') !important;
  background-color: #0000 !important;
  width: 20px !important;
  height: 18px !important;
  background-repeat: no-repeat;
}
div
  li.navigator-sm-folder-tree-item.navigator-folder-tree-item[aria-label*='app']
  div.leading-icons.icons-container
  .spritesheet-largeicons.icon-mask.largeicon-navigator-folder,
li.navigator-folder-tree-item.navigator-folder-tree-item[aria-label*='app']
  div.leading-icons.icons-container
  .spritesheet-largeicons.icon-mask.largeicon-navigator-folder {
  --spritesheet-position: 0 0 !important;
  -webkit-mask-image: none !important;
  -webkit-mask-position: 0 0 !important;
  mask-image: none !important;
  mask-position: 0 0 !important;
  background-image: url('https://raw.githubusercontent.com/PKief/vscode-material-icon-theme/main/icons/folder-app.svg') !important;
  background-color: #0000 !important;
  width: 20px !important;
  height: 18px !important;
  background-repeat: no-repeat;
}
div
  li.navigator-sm-folder-tree-item.navigator-folder-tree-item.expanded[aria-label*='app']
  div.leading-icons.icons-container
  .spritesheet-largeicons.icon-mask.largeicon-navigator-folder,
li.navigator-folder-tree-item.navigator-folder-tree-item.expanded[aria-label*='app']
  div.leading-icons.icons-container
  .spritesheet-largeicons.icon-mask.largeicon-navigator-folder {
  --spritesheet-position: 0 0 !important;
  -webkit-mask-image: none !important;
  -webkit-mask-position: 0 0 !important;
  mask-image: none !important;
  mask-position: 0 0 !important;
  background-image: url('https://raw.githubusercontent.com/PKief/vscode-material-icon-theme/main/icons/folder-app-open.svg') !important;
  background-color: #0000 !important;
  width: 20px !important;
  height: 18px !important;
  background-repeat: no-repeat;
}
