:root {
  --atom-bg: #282c34;
  --atom-bg-selected: #2c313c;
  --atom-bg-stripe: #2b2f37;
  /* its technically vscode's navbar but whatever */
  --atom-navbar-left-bg: rgb(51, 56, 66);
  --atom-sources-bg: #21252b;
  --atom-footer-bg: #21252b;
  --atom-footer-text: rgb(157, 165, 180) !important;
  --atom-selected-folder-bg: #2c313a;
  --atom-file-expansion-bg: #333842;
  --atom-selected-tab-color: #d7dae0;
  --atom-dark-outline: rgba(128, 128, 128, 0.35);
  --atom-blue-button: #4d78cc !important;
  --atom-blue-outline: #528bff;
  /* rgb is rgb(82, 139, 255) */
  --atom-link: #4e94ce;
  --atom-peek-bg: rgb(27, 29, 35);
  --atom-inactive-tab: rgba(215, 218, 224, 0.5);
  --atom-input-bg: #1b1d23;
  --atom-input-border: #181a1f;
  --line-number: #636d83;
  --code-white: #abb2bf;
  --code-white-2: #c5c5c5;
  --code-purple: #c678dd;
  --code-orange: #d19a66;
  --code-green: #98c379;
  --code-red: #e06c75;
  --code-teal: #56b6c2;
  --code-aqua: var(--code-teal);
  --code-yellow: #e5c07b;
  --code-blue: #61afef;
  --code-comment: #5c6370;
}
