// VARIABLES ARE REQUIRED FOR STUFF TO WORK!!
@use 'variables';

// Remove what you don't need from here
@use 'syntax';
@use 'scrollbar';
@use 'font';
@use 'sources-icons';
@use 'box-model';
@use 'console';
@use 'buttons';
@use 'lighthouse';
@use 'styles-inspector';
@use 'editor';
@use 'settings';

// Fonts
@import url('https://cdn.jsdelivr.net/gh/microsoft/vscode-codicons@0.0.17/dist/codicon.css');

// Fira code is optional
@import url('https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css');

/* sources file tree filename color */
:root {
  --neutral-foreground-rest: #cccccc !important;
}

/* html info stuff */
.crumbs {
  background-color: var(--atom-footer-bg) !important;
  color: var(--atom-footer-text) !important;
}
.crumb.selected {
  background-color: var(--atom-bg) !important;
}

.styles-element-state-pane,
.styles-sidebar-pane-toolbar-container,
.elements-disclosure
  .elements-tree-outline:not(.hide-selection-when-blurred)
  .selection {
  background-color: var(--atom-sources-bg) !important;
}
.console-settings-pane,
.console-toolbar-container > .toolbar {
  background-color: var(--atom-sources-bg) !important;
}
:root {
  --divider-border: var(--atom-dark-outline) !important;
}
.vbox.flex-auto.tabbed-pane.main-tabbed-pane {
  --neutral-layer-l2: var(--atom-sources-bg) !important;
}
.scripts-debug-toolbar.toolbar {
  --neutral-layer-l3: var(--atom-sources-bg) !important;
}
div > div.issues-toolbar-container > div.issues-toolbar-left.toolbar {
  border-top: 1px solid var(--atom-dark-outline) !important;
}
.issues-toolbar-container > .toolbar {
  border-top: 1px solid var(--atom-dark-outline) !important;
  --color-background-elevation-1: var(--atom-bg) !important;
}
.widget.vbox.issues-pane {
  --color-text-primary: var(--code-white-2) !important;
  --color-background: var(--atom-bg) !important;
}
.tabbed-pane-tab-slider {
  --tabbed-pane-highlight: var(--atom-blue-outline) !important;
}

.-theme-with-dark-background span.CodeMirror-selectedtext,
:host-context(.-theme-with-dark-background) span.CodeMirror-selectedtext {
  background-color: #3e4451 !important;
}
body {
  --selection-bg-color: #3e4451 !important;
  --dev-tools-editor-selection: #3e4451 !important;
  --accent-fill-selected: #3e4451 !important;
}
/* Buttons */
.text-button {
  border-radius: 0 !important;
  background-color: var(--atom-blue-button) !important;
  color: #fff !important;
}
/* links */
.styles-section .styles-section-subtitle .devtools-link,
.devtools-link {
  color: var(--atom-link) !important;
  text-decoration-color: var(--atom-link) !important;
}

:not(.vertical-tab-layout) > .tabbed-pane-header {
  background-color: var(--atom-navbar-left-bg) !important;
}
.tabbed-pane-header-tab {
  color: rgba(215, 218, 224, 0.5) !important;
}
.tabbed-pane-header-tab.selected {
  background-color: var(--atom-bg) !important;
  color: var(--atom-selected-tab-color) !important;
}
:host-context(.-theme-with-dark-background) .CodeMirror,
.-theme-with-dark-background .CodeMirror {
  color: var(--code-white) !important;
}

.-theme-with-dark-background #elements-crumbs,
.-theme-with-dark-background .console-view,
.-theme-with-dark-background .panel,
.-theme-with-dark-background .panel.vbox.widget.elements {
  background-color: var(--atom-bg) !important;
}
#sources-panel-sources-view .tabbed-pane-header,
:not(.vertical-tab-layout) > .tabbed-pane-header {
  background-color: var(--atom-navbar-left-bg) !important;
}

.styles-pane .sidebar-separator {
  background-color: var(--atom-peek-bg) !important;
}

div > div.tabbed-pane-header {
  --atom-navbar-left-bg: var(--atom-sources-bg) !important;
}
div.styles-section.read-only {
  background-color: var(--atom-peek-bg) !important;
}

div.network-log-grid {
  --network-grid-default-color: var(--atom-bg) !important;
  --network-grid-stripe-color: var(--atom-bg-stripe) !important;
}

#network-overview-container {
  border-bottom-color: var(--atom-dark-outline) !important;
}

/* sources */
div.navigator-tabbed-pane,
.scripts-debug-toolbar {
  background-color: var(--atom-sources-bg) !important;
}

#sources-panel-sources-view .sources-toolbar {
  background-color: var(--atom-sources-bg) !important;
}

.tree-outline > .parent {
  color: var(--code-white) !important;
}

// .tree-outline li::before {
//   background-color: var(--code-white-2) !important;
//   -webkit-mask-image: url('https://cdn.jsdelivr.net/gh/microsoft/vscode-codicons@0.0.17/src/icons/chevron-right.svg') !important;
//   mask-image: url('https://cdn.jsdelivr.net/gh/microsoft/vscode-codicons@0.0.17/src/icons/chevron-right.svg') !important;
//   content: normal !important;
// }
.Dom3d-main-view {
  background-color: var(--atom-bg) !important;
}
.widget.vbox.search-view,
.overview-sidebar-panel,
[slot='insertion-point-sidebar'] {
  --color-background-elevation-1: var(--atom-sources-bg) !important;
  --color-background-elevation-2: var(--atom-sources-bg) !important;
  --color-background-elevation-3: var(--atom-bg) !important;
  --color-details-hairline: var(--atom-dark-outline) !important;
}
.overview-completed-view .font-family:nth-child(2n + 1) {
  background-color: #8282820a !important;
}
/* not box */
:root {
  --neutral-foreground-rest: var(--code-white-2) !important;
}
/* devtools-layout-pane {} */
select option,
select optgroup,
input {
  background-color: var(--atom-input-bg) !important;
  border-color: var(--atom-input-border) !important;
}
.chrome-select:enabled:active,
.chrome-select:enabled:focus,
.chrome-select:enabled:hover {
  background-color: rgb(53, 59, 69) !important;
}

.treeitem {
  color: var(--code-white) !important;
}
:root {
  --neutral-layer-l4: var(--atom-bg) !important;
  --neutral-layer-13: var(--atom-file-expansion-bg) !important;
  --toolbar-bg-color: var(--atom-sources-bg) !important;
  --color-background: rgb(27, 29, 35) !important;
  --color-details-hairline: var(--atom-dark-outline) !important;
}
/* backgrounds and stuff */

.elements-disclosure
  .elements-tree-outline:not(.hide-selection-when-blurred)
  .selection,
.elements-disclosure
  .elements-tree-outline:not(.hide-selection-when-blurred)
  li.selected:focus
  .selection {
  background-color: #2c313c !important;
}
.elements-disclosure li.hovered:not(.selected) .selection {
  background-color: var(--atom-bg-selected) !important;
}
.expandable-view-title {
  background-color: var(--atom-file-expansion-bg) !important;
}
.tree-outline:not(.hide-selection-when-blurred) li.selected .selection {
  background-color: var(--atom-selected-folder-bg) !important;
  box-shadow: none !important;
}
ol.tree-outline:not(.hide-selection-when-blurred) li.selected:focus .selection {
  background-color: var(--atom-selected-folder-bg) !important;
  outline: 1px solid #528bff !important;
  box-shadow: none !important;
}

.elements-disclosure
  .elements-tree-outline:not(.hide-selection-when-blurred)
  .selection {
  border-top: none !important;
  border-bottom: none !important;
}
.elements-disclosure li.parent::before {
  background-color: var(--code-white) !important;
  opacity: 0.8 !important;
}

div.CodeMirror-linenumber {
  color: var(--line-number) !important;
}

.-theme-with-dark-background .cm-readonly-highlight,
:host-context(.-theme-with-dark-background) .cm-readonly-highlight {
  background-color: var(--atom-bg-selected) !important;
}
/* searchbar (filter) */
.styles-sidebar-pane-filter-box > input {
  color: rgb(204, 204, 204) !important;
  background-color: rgb(27, 29, 35) !important;
  border: 1px solid rgb(24, 26, 31) !important;
}
input::placeholder {
  color: var(--atom-inactive-tab) !important;
}

.timeline-landing-page {
  --neutral-layer-l1: var(--atom-bg) !important;
}
