<main>
  <h1>Installation</h1>
  <ul>
    <li>
      Install this extension from the
      <a
        href="https://microsoftedge.microsoft.com/addons/detail/atom-one-dark-devtools-th/bchcjmlpcenaieccjjfhkfaemokpchlk"
        target="_blank"
        >Edge web store
      </a>
      or <a href="#">from the source</a>
    </li>
    <li>
      Enter DevTools (using F12 or Ctrl + shift + i) and go to settings by
      pressing "?" (Shift + /).
    </li>
    <li>Under "Appearance", change the theme to "Dark."</li>
    <li>
      Go to experiments in the left panel, and enable "Allow custom UI themes"
    </li>
    <li>Restart DevTools.</li>
  </ul>
  <mat-divider></mat-divider>
  <h2>How to install from source</h2>
  <ul>
    <li>
      Go to
      <a
        href="https://github.com/MajesticString/atom-one-dark-devtools"
        target="_blank"
        >the projects GitHub</a
      >
      and download the zip file (<a
        href="https://github.com/MajesticString/atom-one-dark-devtools/archive/refs/heads/main.zip"
        >direct link</a
      >)
    </li>
    <li>Extract the folder</li>
    <li>Head to edge://extensions or edge://extensions.</li>
    <li>Go to the bottom left corner and enable 'Developer Mode'</li>
    <li>Drag and drop the 'extension' folder to any part of that tab.</li>
  </ul>
</main>
